<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/7418efde-d146-4f68-a4df-0fbb27645728/resourceGroups/PushDentalAPI20220314224035ResourceGroup/providers/Microsoft.ApiManagement/service/ZepelimAuth/apis/zepelimauth</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/7418efde-d146-4f68-a4df-0fbb27645728/resourceGroups/PushDentalAPI20220314224035ResourceGroup/providers/Microsoft.Web/sites/PushDentalAPI20220315120733</ResourceId>
    <ResourceGroup>PushDentalAPI20220314224035ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pushdentalapi20220315120733.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3eafdc00-133f-4626-bf6e-7ab0af2053c7</ProjectGuid>
    <PublishUrl>https://pushdentalapi20220315120733.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PushDentalAPI20220315120733</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>